{% extends 'base.html.twig' %}

{% set pagetitle = 'Google Chrome' %}
{% block main %}
<p>Both Zoom and Wonder.me work good in Google Chrome.</p>

<h2>Portable Google Chrome</h2>
<p>Google Chrome is available as portable app for Windows. You can use portable apps even when you do not have installation permission on the computer. You can download it <a href="https://portableapps.com/de/apps/internet/google_chrome_portable">here</a>. The portable version can also be used next to an installed version, so if your Chrome is old and you can't update it you can also use the portable version.</p>
{% endblock %}
