{% extends "base.html.twig" %}

{% set pagetitle="Contact" %}
{% block body %}
<p>If you have any question about Southern Ocean Decade Workshop please contact the organizers at <a href="mailto:info@sodecade.org">info@sodecade.org</a>.<br/>
If you have any question about Polar Data Forum IV please contact the organizers at <a href="mailto:info@polar-data-forum.org">info@polar-data-forum.org</a>.</p>
{% endblock %}