{% extends "base.html.twig" %}

{% set pagetitle="Contact" %}
{% block body %}
<p>If you have any question about Southern Ocean Decade Workshop & Polar Data Forum Week 2021 please contact the organizers at <a href="mailto:imdis@seadatanet.org">imdis@seadatanet.org</a>.</p>
{% endblock %}