{% extends 'base.html.twig' %}

{% block main %}
{{ include('page/help/' ~ help  ~ '.twig')}}
{% endblock %}

{% block side %}
<div class="sticky"><div>
<h3>Guidelines</h3>
{{ knp_menu_render(['main', 'Guidelines'])}}
</div></div>
{% endblock %}