{% extends 'base.html.twig' %}

{% block main %}
<p><strong>These pages are in draft status. Anything (including requirements and deadlines) can still change.</strong></p>
{{ include('page/help/' ~ help  ~ '.twig')}}
{% endblock %}

{% block side %}
<div class="sticky"><div>
<h3>Guidelines</h3>
{{ knp_menu_render(['main', 'Guidelines'])}}
</div></div>
{% endblock %}