{% extends 'base.html.twig' %}

{% set pagetitle = 'SCADM Prize' %}
{% block body %}
<p>The Standing Committee on Antarctic Data Management (SCADM) under the Scientific Committee on Antarctic Research (SCAR) will be awarding a prize as part of Southern Ocean Decade & Polar Data Forum Week 2021.  Anyone presenting during the week will be eligible (entry is automatic), but the selection panel will be making the award against the following criteria:</p>
<ul>
<li>The presentation must relate to Antarctic or Southern Ocean data or data management;</li>
<li>The work will improve or exemplify open and FAIR data practices (i.e. data are Findable, Accessible, Interoperable, and Re-usable);</li>
<li>Presentations by Early Career Researchers will be favoured.</li>
</ul>

<p>The prize will consist of a USD$1,000 cash prize plus SCADM will cover or re-imburse open-access publication costs for an associated paper. Awardees will be asked to attend and discuss their work at a SCADM meeting.</p>
{% endblock %}