{% extends 'base.html.twig' %}

{% block side %}
<div class="sidebar">{{knp_menu_render(menu ?? ['main', 'SO Decade']) }}</div>
{% endblock %}

{% block main %}
Welcome to the second Southern Ocean Decade Workshop.
{% endblock %}