{% extends 'base.html.twig' %}

{% set pagetitle = 'Access Informal Sessions of IMDIS 2021 (Wonder.me)' %}
{% block main %}
<p>At a physical conferences coffee breaks are the place for many interesting conversations. To allow for these conversations during IMDIS 2021 we will be using <a href="https://wonder.me">Wonder.me</a>. The link to the room will be made available during the conference.</p>

<p>Wonder.me works best on desktop or laptop. Many browsers are supported, the main exceptions are Safari, Internet Explorer, Opera, and older versions of Edge (versions earlier than 87). Please make sure your browser is updated to the latest available version.</p>
{% endblock %}
