{% extends 'base.html.twig' %}

{% set pagetitle = 'Access Informal Sessions of Southern Ocean Decade & Polar Data Forum Week 2021 (Wonder.me)' %}
{% block main %}
<p>At a physical conferences coffee breaks are the place for many interesting conversations. To allow for these conversations during Southern Ocean Decade & Polar Data Forum Week 2021 we will be using <a href="https://wonder.me">Wonder.me</a>. The link to the room will be made available during the conference.</p>

<p>Wonder.me works on <a href="{{ path('chrome') }}">Google Chrome</a> (including the portable version) and Microsoft Edge on desktop and laptop. Please make sure your browser is updated to the latest available version. Unfortunately Wonder.me has dropped support for mobile devices.</p>
{% endblock %}
{# 
{% block side %}
<div class="sticky"><div class="menu">
<h3>Conference information</h3>
{{ knp_menu_render(['main', 'PDF IV', 'Conference Information'])}}
</div></div>
{% endblock %} #}