{% extends 'base.html.twig' %}

{% set pagetitle = 'Access Live Sessions of Southern Ocean Decade & Polar Data Forum Week 2021 (Zoom)' %}
{% block main %}
<p>The sessions of Southern Ocean Decade & Polar Data Forum Week 2021 will be on <a href="https://zoom.us">Zoom</a>. We recommend to use the desktop client or mobile app, version 5.3.0 or higher. If installing the app is not possible you can also access Zoom through <a href="{{ path('chrome') }}">Google Chrome</a> (including the portable version).</p>

<p>To connect click the join session link in the <a href="{{path('program_index')}}">programme</a>, this link is only available when logged in to the Southern Ocean Decade & Polar Data Forum Week 2021 website. Every session has its own Zoom link which will become available 15 minutes after the scheduled end of the previous session.</p>

<p>By default microphone, camera and screen sharing are disabled for all participants, chat is enabled.</p>

<h2>Poster sessions</h2>
<p>For the poster sessions we will be using Zoom breakout rooms. Each poster will have a breakout room, the name of the room will be the number and first part of the title of the poster. At the end of the poster session all rooms will be closed and participants will be moved back into the main room automatically.</p>
<h3>Self selecting breakout rooms</h3>
<p>When using version 5.3.0 or higher of the desktop client or mobile app you can select a breakout room to join throught the breakout rooms button. When in a breakout room you can use the same button to move to another breakout room. To return to the main room click 'Leave' and 'Return to main room'.
<h3 id="breakout_host">I am not able to self select a breakout room</h3>
<p>If the self select option is not available for you or you experience problems you can ask in the main room to be boved to a breakout room. Please ask to be moved in the chat indicating the number of the room you want to be moved into (just send a message like 'Please move me to room X', we will respond by moving you into the requested room). If you want to join a different room later you can return to the main room by clicking 'Leave' and 'Return to main room' where you can ask again to be moved into a room.</p>

<h2 id="gettinghelp">Getting help</h2>
<p>The Southern Ocean Decade & Polar Data Forum Week 2021 staff will be monitoring audio and video closely (we are also following the talks), so if any problems with the broadcast should arise, we will notice immediately and we will put a message in the chat and try to solve the problems. If there is no message in the chat from one of the staff members the issue is unfortunately most likely on your end. We will of course try to help with those problems, but can't make any promises.</p>
<h3>I can't connect</h3>
<ul>
<li>Check if you are using the right meeting link and details. The correct details are always on the <a href="{{path('index')}}">home</a> page when you are logged in. Please refresh the page to have the latest version</li>
<li>If that doesn't work please send an email to <a href="mailto:info@sodecade.org">info@sodecade.org</a>. Southern Ocean Decade & Polar Data Forum Week 2021 staff will be monitoring the mailbox closely during the sessions of Southern Ocean Decade & Polar Data Forum Week 2021 and will try to respond very quickly.</li>
</ul>
<h3>I have no sound</h3>
<ul>
<li>Please check that you have selected the right speakers or headphones, and that all cables are properly connected.</li>
<li>If computer sound is not working you can also connect to the sound using the phone. It is possible to watch the slides using the computer will using phone audio.</li>
</ul>
<h3>I can't see the slides at all</h3>
<ul>
<li>We aim to share the presentation screen at all times and Southern Ocean Decade & Polar Data Forum Week 2021 staff is monitoring the screen sharing.</li>
<li>If you can't see the shared screen in the main room please check for a staff message in the chat. If there is not message in the chat you can try to disconnect and reconnect.</li>
</ul>
<h3>Video quality is poor</h3>
<ul>
<li>This is most likely a bandwidth issue at your location</li>
<li>Try to disable other heavy consumers of bandwidth (other apps on your device, or other devices in your network)</li>
<li>You can also switch to phone audio and only have the video over internet.</li>
</ul>
<h3>Any other questions</h3>
<ul><li>Please send an email to <a href="mailto:info@sodecade.org">info@sodecade.org</a>. Southern Ocean Decade & Polar Data Forum Week 2021 staff will be monitoring the mailbox closely during the sessions of Southern Ocean Decade & Polar Data Forum Week 2021 and will try to respond very quickly.</li></ul>
{% endblock %}