{% extends 'base.html.twig' %}

{% set pagetitle = 'Committees' %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('committee_manage') }}">Edit committees</a>{% endif %}
<div class="committees">
    {% for committee in committees %}
    <div>
    <h3>{{committee.name}}</h3>
    <ul>
    {% for person in committee.people %}
    <li>{{person.name}}</li>
    {% endfor %}
    </ul>
    {% if committee.url %}<a href="{{ committee.url }}">Read more</a>{% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
