<p>Hi {{user.name}},</p>

{% include 'registration/details.html.twig' %}

<p>You can find the programme and connection info for the sessions on <a href="https://{{ app.request.getHttpHost() }}">{{ app.request.getHttpHost() }}</a></p>
<p>We are looking forward to see you online at IMDIS 2021!</p>