<p>All attendees, speakers, sponsors and partners at IMDIS 2021 are required to have read the following code of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment for everybody.</p>

<p>IMDIS 2021 is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, Twitter and other online social media. Conference participants violating these rules may be sanctioned or expelled from the conference without any compensation at the discretion of the conference organisers.</p>

<h2>Social media</h2>
<p>During IMDIS 2021 we encourage social media activity. Please use the hashtag #IMDIS2021 when posting on social media.</p>
<p>If a presenter indicates that a certain image should not be posted on social media we expect that this will be respected.</p>