<p>The IMDIS 2021 conference is organized by <a href="https://www.nioz.nl/en">NIOZ</a> (Royal Netherlands Institute for Sea Research), jointly with <a href="http://www.ifremer.fr/">IFREMER</a>, <a href="http://www.ogs.trieste.it/">OGS</a> and <a href="http://www.iode.org/">IOC/IODE</a>, in the frame of the <a href="http://www.seadatanet.org/">SeaDataCloud</a> project (EU H2020 - Grant Agreement 730960).</p>

<h2>IMDIS 2021 online</h2>
<p>IMDIS 2021 will be completely online. We will be using different online platforms for various parts of the meeting.</p>
<p>Plenary sessions will be on the Zoom platform and will be recorded. Recordings of the presentations will be made available publicly available online after the event.</p>
<p>The interactive poster sessions will be in breakout rooms on Zoom. These sessions can be recorded.</p>
<p>Commenting on posters outside the interactive poster sessions is possible through various online platforms like google drive. Comments are visible for anyone with the link to the comment page.</p>

<p>Participants are not required to have an account for the platforms used for the plenary sessions and interactive poster session. If a platform for commenting requires an account it is the responsibility of the participant to create an account.</p>

<p>The terms of the used platforms apply also when in use for IMDIS 2021.</p>

<h3>Accessing materials at IMDIS 2021</h3>
<p>To access posters, video presentations and slides registration and login is required. Registration is free of charge. Access to materials is given until three months after the conference through the IMDIS 2021 website. After that the archived material can be access through the main IMDIS website. It is not permitted to redistribute material from the IMDIS 2021 website without prior consent of the author of the respective material. An exception is in place for screenshots of parts of files for use on social media, unless there is an indication that the author doesn't allow sharing the material on social media.</p>
<h2>Privacy</h2>

<p>As IMDIS 2021 is organized in the frame of SeaDataCloud the <a href="https://www.seadatanet.org/Tools/Privacy-policy">Privacy Statement on the protection of personal data</a> of SeaDataCloud fully applies to IMDIS 2021. Below are some details specific to IMDIS 2021.</p>
<h3>Purpose of collection of personal details</h3>
<p>IMDIS 2021 requires registration to be able to communicate with participants and report statistics on participants (number of participants per country) to the EU.</p>

<h3>Storage of registration details</h3>
<p>The following fields are required on registration</p>
<ul>
<li>Email (is user name for the account, and to able to communicate with the registrant)</li>
<li>Password (will be hashed before storage using a strong one-way hasing mechanism)</li>
<li>Preference for display in participant list and preference for display of email</li>
</ul>
<p>The following field are optional (but strongly recommended when giving permission to be included in the online list of participants)</p>
<ul>
<li>Name</li>
<li>Affiliation</li>
<li>Country (also for EU statistics)</li>
</ul>

<p>All details are stored on a server at NIOZ. All details will be removed from the NIOZ servers on 14 July 2021 (three months after IMDIS 2021).</p>

<h3>Transfer of registration details</h3>
<p>No details of registrations will be shared by the organization of IMDIS with any of the used platforms.</p>
<p>The organizers of IMDIS 2021 will share the number of participants per country with the EU as part of the reporting for SeaDataCloud.</p>

<h3>Display of registration details</h3>
<p>There are three different options for consent to be listed in the registration list</p>
<ul>
    <li>Public: name, affiliation and country are visible for all website visitors</li>
    <li>Logged in: name, affiliation and country are visible for registered participants who are logged in</li>
    <li>Hidden: details are not visible for other participants, however they are visible for IMDIS 2021 organizers</li>
</ul>
<p>If the participant has given permission also the e-mail address is displayed to logged in users.</p>
<p>The number of particpants and number of countries listed will always include all participants.</p>

<h3>Updating or removing details and permissions</h3>
<p>When you are logged in you can change your details and permissions under Registrations &gt; My Registration. If you experience problems or want your details removed please contact the organizers at <a href="mailto:imdis@seadatanet.org">imdis@seadatanet.org</a>.</p>

<h2>Disclaimer</h2>
<p>The IMDIS 2021 organization has done their best to select stable and accessible platforms. If you experience problems with the platforms please contact us using the <a href="https://imdis.seadatanet.org/sendform/contact">contact form</a>. We will do our best to help you with these problems, but we connot be held responsible if we cannot fix them.</p>