<p>The IMDIS 2021 conference is organized by <a href="https://www.nioz.nl/en" target="_blank">NIOZ</a> (Royal Netherlands Institute for Sea Research), jointly with <a href="http://www.ifremer.fr/" target="_blank">IFREMER</a>, <a href="http://www.ogs.trieste.it/" target="_blank">OGS</a> and <a href="http://www.iode.org/" target="_blank">IOC/IODE</a>, in the frame of the <a href="http://www.seadatanet.org/" target="_blank">SeaDataCloud</a> project (EU H2020 - Grant Agreement 730960).</p>

<h2>IMDIS 2021 online</h2>
IMDIS 2021 will be completely online. We will be using different online platforms for various parts of the meeting.
<p>Plenary sessions will be on the Zoom platform and will be recorded. Recordings of the presentations will be made available publicly available online after the event.</p>
<p>The interactive poster sessions will be in breakout rooms on Zoom. These sessions can be recorded.</p>
<p>Commenting on posters outside the interactive poster sessions is possible through various online platforms. Comments are visible for anyone with the link to the comment page.</p>

<p>Participants are not required to have an account for the platforms used for the plenary sessions and interactive poster session. If a platform for commenting requires an account it is the responsibility of the participant to create an account.</p>

<p>The terms of the used platforms apply also when in use for IMDIS 2021.</p>
<h2>Privacy</h2>
<h3>Purpose of collection of personal details</h3>
<p>IMDIS 2021 requires registration to be able to communicate with participants and report statistics on participants (number of participants per country) to the EU.</p>

<h3>Storage of registration details</h3>
<p>The following fields are required on registration</p>
<ul>
<li>Email (is user for the account, and to able to communcite with the registrant)</li>
<li>Password (will be hashed before storage using a strong one-way hasing mechanism)</li>
<li>Preference for display in participant list and preference for display of email</li>
</ul>
<p>The following field are optional (but strongly recommended when giving permission to be included in the online list of participants)</p>
<ul>
<li>Name</li>
<li>Affiliation</li>
<li>Country (also for EU statistics)</li>
</ul>

<p>All details are stored on a server at NIOZ. All details will be removed from the NIOZ servers before the end of 2021 (as soon as the relevant parts are archived on the main IMDIS site).</p>

<h3>Transfer of registration details</h3>
<p>Name, affiliation and country of registrants who have given consent to be listed in the public participants list are also copied to the main IMDIS website at IFREMER</p>
<p>No details of registrations will be shared by the organization of IMDIS with any of the used platforms.</p>
<p>The organizers of IMDIS 2021 will share the number of participants per country with the EU.</p>


<h3>Display of registration details</h3>
<p>The participants list contains name, affiliation, country and email address of participants. The email address is only shown to logged in users and only when the participant has given consent. Only participants that have given consent to be included in the public participants list are visible for people who are not logged in. The number of particpants and number of countries listed will always include all participants.</p>

<h2>Disclaimer</h2>
<p>The IMDIS 2021 organization has done their best to select stable and accessible platforms. If you experience problems with the platforms please contact us using the <a href="https://imdis.seadatanet.org/sendform/contact">contact form</a>. We will do our best to help you with these problems, but we connot be held responsible if we cannot fix them.</p>