<p>Southern Ocean Decade & Polar Data Forum Week 2021 is co-hosted by the European Polar Board (<a href="https://www.europeanpolarboard.org/">EPB</a>) and the Royal Belgian Institute of Natural Sciences (<a href="https://www.naturalsciences.be/en/museum/home">RBINS</a>) and held online from September 20th to 24th, 2021.</p>
<p>The first part of the week will be dedicated to the 2nd Southern Ocean Regional Workshop. This workshop will be co-organized with regional partners including the Scientific Committee on Antarctic Research (SCAR), the Southern Ocean Observing System (SOOS), the ICED Programme, the International Oceanographic Data and Information Exchange (IODE) Programme, and many other organizations engaged in polar activities.</p>
<p>The Polar Data Forum IV (PDF IV) component of the week will be co-organized with regional partners including the Southern Ocean Observing System (SOOS), Standing Committee on Antarctic Data Management (SCADM), the World Data System (WDS), EuroGOOS, and many other organizations engaged in polar data management.</p>

<h2>Southern Ocean Decade & Polar Data Forum Week 2021 online</h2>
<p>Southern Ocean Decade & Polar Data Forum Week 2021 will be completely online. We will be using different online platforms for various parts of the meeting.</p>
<p>Plenary sessions will be on the Zoom platform and will be recorded. Recordings of the presentations will be made available publicly available online after the event.</p>
<p>The interactive poster sessions will be in breakout rooms on Zoom. These sessions can be recorded.</p>
<p>Commenting on posters outside the interactive poster sessions is possible through various online platforms like google drive. Comments are visible for anyone with the link to the comment page.</p>

<p>Participants are not required to have an account for the platforms used for the plenary sessions and interactive poster session. If a platform for commenting requires an account it is the responsibility of the participant to create an account.</p>

<p>The terms of the used platforms apply also when in use for Southern Ocean Decade & Polar Data Forum Week 2021.</p>

<h3>Accessing materials at Southern Ocean Decade & Polar Data Forum Week 2021</h3>
<p>To access posters, video presentations and slides registration and login is required. Registration is free of charge. Access to materials is given until three months after the conference through the Southern Ocean Decade & Polar Data Forum Week 2021 website. After that the archived material can be access through the main IMDIS website. It is not permitted to redistribute material from the Southern Ocean Decade & Polar Data Forum Week 2021 website without prior consent of the author of the respective material. An exception is in place for screenshots of parts of files for use on social media, unless there is an indication that the author doesn't allow sharing the material on social media.</p>
<h2>Privacy</h2>

<p>As Southern Ocean Decade & Polar Data Forum Week 2021 is organized in the frame of SeaDataCloud the <a href="https://www.seadatanet.org/Tools/Privacy-policy">Privacy Statement on the protection of personal data</a> of SeaDataCloud fully applies to Southern Ocean Decade & Polar Data Forum Week 2021. Below are some details specific to Southern Ocean Decade & Polar Data Forum Week 2021.</p>
<h3>Purpose of collection of personal details</h3>
<p>Southern Ocean Decade & Polar Data Forum Week 2021 requires registration to be able to communicate with participants and report statistics on participants (number of participants per country).</p>

<h3>Storage of registration details</h3>
<p>The following fields are required on registration</p>
<ul>
<li>Email (is user name for the account, and to able to communicate with the registrant)</li>
<li>Country (for statistics)</li>
<li>Password (will be hashed before storage using a strong one-way hasing mechanism)</li>
<li>Preference for display in participant list and preference for display of email</li>
</ul>
<p>The following field are optional (but strongly recommended when giving permission to be included in the online list of participants)</p>
<ul>
<li>Name</li>
<li>Affiliation</li>
</ul>

<p>All details are stored on a server at NIOZ. All details will be removed from the NIOZ servers by the latest on 24 December 2021 (three months after Southern Ocean Decade & Polar Data Forum Week 2021).</p>

<h3>Transfer of registration details</h3>
<p>No details of registrations will be shared by the organization of IMDIS with any of the used platforms.</p>
<p>The organizers of Southern Ocean Decade & Polar Data Forum Week 2021 will share the number of participants per country.</p>

<h3>Display of registration details</h3>
<p>There are three different options for consent to be listed in the registration list</p>
<ul>
    <li>Public: name, affiliation and country are visible for all website visitors</li>
    <li>Logged in: name, affiliation and country are visible for registered participants who are logged in</li>
    <li>Hidden: details are not visible for other participants, however they are visible for Southern Ocean Decade & Polar Data Forum Week 2021 organizers</li>
</ul>
<p>If the participant has given permission also the e-mail address is displayed to logged in users.</p>
<p>The number of particpants and number of countries listed will always include all participants.</p>

<h3>Updating or removing details and permissions</h3>
<p>When you are logged in you can change your details and permissions under Registrations &gt; My Registration. If you experience problems or want your details removed please contact the organizers at *email follows*.</p>

<h2>Disclaimer</h2>
<p>The Southern Ocean Decade & Polar Data Forum Week 2021 organization has done their best to select stable and accessible platforms. If you experience problems with the platforms please contact us at *email follows*. We will do our best to help you with these problems, but we connot be held responsible if we cannot fix them.</p>