<h2>What are cookies</h2>

<p>Cookies are small pieces of information sent by the web server to your browser, and stored by the browser. The information in the cookie is sent back to the server each time you request a page from the server (or the browser request information from the server). This enables a web server to identify you and your browser for the lifetime of the session or cookie.</p>


<h2>Cookies on our website</h2>

<p>IMDIS 2021 uses a session cookie (named PHPSESSID) to link session information on our server to your browsing session. The cookie contains a string which is unique for your session. The session contains information about forms you filled in during your session, this can include any values you provided in forms (except passwords) and validation errors when submitting a form. If you are logged in your user id is also stored in the session. The information stored in the session is deleted after 24 minutes of inactivity (not requesting pages from the server), the cookie is deleted when you close your browser.</p>
<p>When you check 'remember me' when logging in a cookie named REMEMBERME is set. This cookie keeps your login valid for a week and is removed after that period.</p>


<h2>Third party cookies</h2>
<p>There are no external cookies within the IMDIS 2021 website.</p>

<h2>Refusing cookies</h2>

<p>Most browsers allow you to refuse cookies somewhere in their settings. However, blocking cookies can have a negative impact upon the usability of this website, it will render many forms useless. Logging in is not possible without session cookies.</p>

<h2>Cookies on external platforms</h2>
<p>The external platforms used can set cookies, please see the policies of those platforms for details.</p>