<p>The copyright in this website and the material on this website (including without limitation the text, computer code, artwork, photographs, images, music, audio material, video material and audio-visual material on this website) is owned by the organizers of IMDIS 2021 and/or the authors of the abstracts and the presenters unless stated otherwise.</p>

<p>The code of this website can be made freely available for re-use. Please contact <a href="https://www.nioz.nl/en/about/organisation/staff/marten-tacoma">Marten Tacoma</a> to discuss the options.</p>

<h2>Poster sessions</h2>

<p>The setup of the poster sessions is based on the setup used by the WMO Data Conference in Nov 2020.</p>

<h2>Icons</h2>

<p>Several icons are available from <a href="https://icomoon.io">IcoMoon</a> under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 Attribution License</a>.</p>