{% extends 'base.html.twig' %}

{% set pagetitle = 'Poster sessions' %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>session</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poster_session in poster_sessions %}
            <tr>
                <td>{{ poster_session }}</td>
                <td>
                    <button onclick="window.location.href='{{ path('poster_session_room', {'id': poster_session.id}) }}'"><span class="icon-users"></span>Room list</button>
                    <button onclick="window.location.href='{{ path('poster_session_edit', {'id': poster_session.id}) }}'"><span class="icon-pencil"></span>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button onclick="window.location.href='{{ path('poster_session_new') }}'"><span class="icon-plus"></span> Add session</button>
{% endblock %}
