{% extends 'base.html.twig' %}

{% block title %}PosterSession index{% endblock %}

{% block body %}
    <h1>PosterSession index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poster_session in poster_sessions %}
            <tr>
                <td>{{ poster_session.id }}</td>
                <td>
                    <a href="{{ path('poster_session_show', {'id': poster_session.id}) }}">show</a>
                    <a href="{{ path('poster_session_edit', {'id': poster_session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('poster_session_new') }}">Create new</a>
{% endblock %}
