{% extends 'base.html.twig' %}

{% block title %}New PosterSession{% endblock %}

{% block body %}
    <h1>Create new PosterSession</h1>

    {{ include('poster_session/_form.html.twig') }}

    <a href="{{ path('poster_session_index') }}">back to list</a>
{% endblock %}
