{% extends 'base.html.twig' %}

{% set pagetitle = 'Poster rooms ' ~ session %}

{% block body %}
<p>{{session.posters|length}} rooms</p>
<table class="table">
{% for poster in session.posters %}
<tr><td>{{poster.RoomName}}</td></tr>
{% endfor %}
</table>
{% endblock %}