{% extends 'base.html.twig' %}

{% block title %}New ProgramBlock{% endblock %}

{% block body %}
    <h1>Create new ProgramBlock</h1>

    {{ include('program/_form.html.twig') }}

    <a href="{{ path('program_block_index') }}">back to list</a>
{% endblock %}
