<div id="foot">
    <div class="content">
        <div id="bottomMenu">
            <span class="header">Menu</span>
            {{ knp_menu_render('foot', {depth: 1}) }}
        </div>
        <div id="partners">
            <span class="header">Partners</span>
            <div class="grid">
                <div class="partner"><a href="https://www.seadatanet.org/"><img src="/img/partners/Logo-Sea-Data-Cloud.png" /></a></div>
                <div class="partner"><a href="https://www.nioz.nl/"><img src="/img/partners/Logo-NIOZ.png" /></a></div>
                <div class="partner"><a href="http://wwz.ifremer.fr/en"><img src="/img/partners/Logo-Ifremer.png" /></a></div>
                <div class="partner"><a href="http://www.ogs.trieste.it/en"><img src="/img/partners/Logo-OGS.png" /></a></div>
                <div class="partner"><a href="https://www.iode.org/"><img src="/img/partners/Logo-IODE.png" /></a></div>
                <div class="partner"><a href="https://ec.europa.eu/commission/index_en"><img src="/img/partners/Logo-Europa.png" /></a></div>
            </div>
        </div>
    </div>
</div>