<div class="legend">
{% if 'video' in legend %}
    <span class="icon-video-camera"></span> Recorded presentation available</td><td colspan="2">Recorded presentation</td><td><span class="icon-video-camera"></span></td></tr>
{% endif %}
{% if 'comment' in legend %}
    <tr><td><span class="icon-bubble"></span></td><td colspan="2">Comment link</td><td><span class="icon-bubble"></span></td></tr>
{% endif %}
{% if 'discussion' in legend %}
    <tr><td><span class="icon-users"></span></td><td colspan="2">Online session link</td><td><span class="icon-users"></span></td></tr>
{% endif %}
</tbody>
</table>
</div>