<div id="menu">
    <div class="content">
        <input type="checkbox" id="overlay-input" />
        <label for="overlay-input" id="overlay-button"><span class="hamburger"></span> <span class="text">Menu</span></label>
        {{ knp_menu_render('main') }}
    </div>
</div>