<div id="top">
    <div class="content">
        <div class="session">
            {% if app.user %}
                You are logged in as {{app.user.email}}, <a href="/logout">Log out</a>
            {% else %}
                <a href="/login">Log in</a> / <a href="/register">Register</a> 
            {% endif %}
        </div>
        <a href="/"><img src="/img/logo.png" /></a>
        <h1>IMDIS&nbsp;2021</h1>
        <span class="period">Online, 12-14 April 2021</span>
        <span class="tagline">International Conference on Marine Data and Information Systems</span>
    </div>
</div>