.mobile {
    @media screen and (min-width: $desktop){
        display: none;
    }
}

.desktop {
    @media screen and (max-width: $mobile){
        display: none
    }
}

.content {
    max-width: 1400px;
    margin: 0px auto;
    .cols {
        display: flex;
        gap: 15px;
        &.reverse {
            flex-flow: row-reverse;
        }
        .side {
            .sticky {
                position: sticky;
                top: 61px;
                h3 {
                    margin-top: 0px;
                }
                > div {
                    padding: 10px;
                    background: $grey;
                    margin-top: 15px;
                    h4 {
                        margin: 0px;
                        margin-bottom: 5px;
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
                        li {
                            list-style: none;
                        }
                    }
                }
                .admin {
                    &::before {
                        display: block;
                        float: right;
                        /* use !important to prevent issues with browser extensions that change fonts */
                        font-family: 'icomoon' !important;
                        speak: never;
                        font-style: normal;
                        font-weight: normal;
                        font-variant: normal;
                        text-transform: none;
                        line-height: 1;
                        
                        /* Better Font Rendering =========== */
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        content: "\e98d";
                    }
                }
                
                .worldMap {
                    max-width: 100%;
                    svg {
                        max-width: 100%;
                        background: white;
                        cursor: pointer;
                        path {
                            fill: $na-color;
                        }
                    }
                    .close {
                        display:none;
                    }
                    .open {
                        font-size: 0.8em;
                        font-style: italic;
                    }
                }
                &.fullMap {
                    position: initial;
                    .worldMap {
                        margin-top: 0px;
                        position: fixed;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.8);
                        max-width: initial;
                        z-index: 999;
                        padding: 20px;
                        text-align: center;
                        div.map {
                            width: 100%;
                            height: 100%;
                            &::before {
                                content: '';
                                display: inline-block;
                                height: 100%;
                                vertical-align: middle;
                            }
                        }
                        .open {
                            display: none;
                        }
                        .close {
                            display: block;
                            float:right;
                            cursor: pointer;
                            font-size: 2em;
                            background: white;
                            width: 45px;
                            height: 45px;
                            border-radius: 23px;
                        }
                        svg {
                            max-width: 90vw;
                            max-height: 90vh;
                            border: solid 20px white;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
            @media screen and (min-width: $desktop) {
                width: 30%;
                min-width: 250px;
                max-width: 500px;
                flex-shrink: 0;
            }
        }
        .main {
            width: 100%;
        }
        @media screen and (max-width: $mobile) {
            display: block;
        }
    }
}
#top {
    background: $blue;
    color: white;
    padding: 20px 10px;
    img {
        float: left;
        margin-right: 10px;
        max-width: 25vw;
    }
    
    h1 {
        margin-top: 0px;
        margin-bottom: 5px;
    }
   
    span {
        display: block;
    }
    .period {
        font-style: italic;
    }
    .tagline {
        clear: both;
        @media screen and (max-width: 520px){
            font-size: 3.1vw;
        }
    }
    
    .session {
        float: right;
        a {
            color: white;
        }
    }
}

#content {
    padding: 10px 20px;
    margin: 0px auto;
    padding-bottom: 20px;
    @media screen and (max-width: $mobile){
        padding: 10px;
    }
    .timezone {
        font-style: italic;
        position: sticky;
        top: 41px;
        background-color: white;
        z-index: 9;
        padding-top: 2px;
    }
}

#foot {
    background: $blue;
    color: white;
    padding: 10px;
    font-size: 14px;
    > div {
        display: flex;
        flex-flow: row wrap;
        > div {
            flex-grow: 1;
            &:not(:first-child){
                border-left: solid 1px rgba(255,255,255,0.75);
                padding-left: 10px;
                margin-left: 10px;
            }
        }
    }
    .header {
        font-size: 1rem;
    }
    a {
        color: white;
    }
    #legal,
    #bottomMenu {
        ul {
            padding-left: 10px;
            li {
                list-style: none;
            }
        }
    }
    #partners {
        .grid {
            display: flex;
            flex-flow: row wrap;
            background: $darkblue;
            padding: 5px;
            margin: 10px;
            max-width: 470px;
            .partner {
                flex-grow: 1;
                img {
                    max-width: 116px;
                    max-height: 255px;
                }
            }
        }
    }
}

.frontvideo {
    line-height: 0;
    width: calc(100% - 20px);
    padding-top: calc(100% / 1920 * 1080 - 20px);
    background: $lightGrey;
    position: relative;
    video,
    iframe,
    embed {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
    }
    @media screen and (min-width: $desktop){
        padding-top: calc(50% / 1920 * 1080 - 20px);
    }
}

.register {
    text-align: center;
    line-height: 0;
    width: calc(100% - 20px);
    padding-top: calc(50% / 1920 * 1080 - 20px);
    position: relative;
    cursor: pointer;
    div {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: $blue;
        color: white;
        padding-top: calc(11% - 15px);
        font-size: 2em;
        text-transform: uppercase;
        &:hover {
            background-color: $darkblue;
        }
    }
    @media screen and (min-width: $desktop){
        padding-top: calc(25% / 1920 * 1080 - 20px);
        div {
            padding-top: calc(13% - 15px);
        }
    }
}

.frontvideo,
.register {
    @media screen and (min-width: $desktop){
        float: left;
        width: calc(50% - 20px);
    }
    @media screen and (max-width: $mobile){
        margin: 10px;
        margin-top: 0px;
    }
}

.row {
    @media screen and (max-width: $mobile){
        display: flex;
        flex-flow: column-reverse;
    }
}
.stats {
    .left {
        float: left;
        margin-right: 20px;
    }
    .right {
        float: right;
        margin-left: 20px;
    }
    .left, .right {
        width: calc(25% - 10px);
        max-width: 340px;
        @media screen and (max-width: $mobile){
            float: none;
            margin: 10px;
            width: 100%;
            max-width: 100%;
        }
    }
    div.statblock {
        width: 100%;
        max-width: 340px;
        padding-top: calc(100% / 1920 * 1080 - 15px);
        position: relative;
        margin-bottom: 20px;
        div {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background: $grey;
            text-align: center;
            padding: 10px;
            padding-top: calc(22% - 40px);
            overflow: hidden;
            cursor: pointer;
            &:hover {
                background-color: $lightGrey;
            }
            .label {
                display: block;
            }
            .icon {
                font-size: 2em;
            }
            .value {
                font-size: 2em;
                display: block;
            }
            @media screen and (max-width: 1000px){
                padding-top: calc(25% - 31px);
                .value {
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        }
        @media screen and (max-width: $mobile){
            width: calc(50% - 20px);
            padding-top: calc(50% / 1920 * 1080 - 20px);
            max-width: 680px;
            float: left;
            margin-right: 20px;
        }
    }
    &.user {
        .left, .right {
            @media screen and (min-width: $desktop){
                width: calc(50% - 10px);
                max-width: 700px;
                margin: 0px;
                div {
                    width: 100%;
                    max-width: 700px;
                    padding-top: calc((50% - 20px) / 1920 * 1080);
                    margin-bottom: 0px;
                    > div {
                        padding-top: calc(12% - 35px);
                    }
                }
            }
        }
    }
}

.share {
    position: relative;
    float: right;
    margin-left: 5px;
    a {
        text-decoration: none;
        color: $text-color;
        .icon-linkedin {
            color: #0073b1;
        }
        .icon-facebook2 {
            color: #3b5998;
        }
        .icon-twitter1 {
            color: #1da1f2;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    .services {
        z-index: 2;
        position: absolute;
        right: 0px;
        background: $lightGrey;
        padding: 2px;
        padding-left: 4px;
        padding-bottom:0px;
        line-height: 1;
        border-radius: 6px;
        font-size: 2em;
        min-width: 162px;
        transition-property: opacity,visibility;
        transition-duration: .25s,0s;
        transition-delay: 0s,.5s;
        opacity: 0;
        visibility: hidden;
    }
    &:hover {
        .services {
            visibility: visible;
            transition-property: visibility,opacity;
            transition-duration: 0s,.25s;
            transition-delay: 0s,0s;
            opacity: 1;
        }
    }
}