form {
    > div {
        margin-bottom: 10px;
    }
    label, legend {
        min-width: 140px;
        display: inline-block;
        &:after {
            // content: ':';
        }
        &.required {
            font-weight: bold;
        }
    }
    input[type="radio"] + label.required {
        font-weight: normal;
    }
    
    .errors {
        color: #ff4444;
        font-style: italic;
        font-weight: bold;
    }

    select, input {
        margin-bottom: 3px;
    }
    ul {
        padding-left: 0px;
        li {
            list-style: none;
            clear: left;
            div {
                float: left;
                label {
                    display: none;
                }
            }
        }
    }
}
.controls > button {
    float: left;
}

.formEnd {
    display: none;
}