.anchor {
    position: relative;
    a {
        position: absolute;
        top: -61px;
    }
    &:not(.first){
        @media screen and (min-width: $desktop){
            a {
                top: -41px;
            }
        }
    }
}

.talk {
    .title {
        display: block;
    }
}
.poster {
    .title {
        display: block;
    }
    
}
.abstracts,
.talk,
.poster {
    .authors {
        font-size: 14px;
        a[href^="https:\/\/orcid.org\/"] {
            color: $text-color;
            text-decoration: none;
        }
        .speaker,
        .corresponding {
            font-weight: bold;
        }
    }
}

.link-ok {
    color: green;
}

.day {
    padding: 10px;
    td {padding: 10px !important;}
    background: $blue;
    margin-top: 15px;
    color: white;
    position: sticky;
    top: 61px;
    h2 {
        margin: 0px;
        margin-top: 5px;
    }
    a {
        color: white;
    }
    .connect {
        float: right;
        max-width: 40%;
        text-align: right;
    }
}

.abstracts,
.program {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    
    .id {
        float: right;
        margin-left: 10px;
    }
    tr {
        border-top: solid 1px $grey;
        &.session {
            background: $grey;
            padding: 10px;
            padding-bottom: 5px;
            h3 {
                margin: 0px;
            }
        }
        &.break {
            background: $lightGrey;
            text-align: center;
            .time {
                text-align: left;
            }
        }
        &.keynote {
            .title::before {
                content: 'Keynote ';
                font-weight: bold;
            }
        }
        &.postersession {
            background: $grey;
        }
        &.spacer {
            background-color: white;
            td {
                position: relative;
                a {
                    position: absolute;
                    top: -32px;
                    @media screen and (min-width: $desktop){
                        top: -18px;
                    }
                }
            }
        }
    }
    td {
        padding: 10px;
        vertical-align: top;
    }
    
    .video {
        a {
            color: $text-color;
            text-decoration: none;
        }
    }
    @media screen and (max-width: $mobile){
        td {
            display: block;
            padding: 0 5px;
            &:first-child {
                padding-top: 5px;
            }
            &:last-child {
                padding-bottom: 5px;
            }
        }
        .video {
            display: inline;
        }
        .break ,
        .keynote {
            td:first-child {
                float: left;
            }
            td:nth-child(2) {
                padding-top: 5px;
            }
        }
        .session2,
        .teaser,
        .authors sup,
        .affiliation {
            display: none;
        }
    }
}

.singleposter,
.posters {
    .day {
        & + div {
            margin-top: 0px;
        }
    }

    .past {
        color: $na-color;
        span {
            color: $na-color;
        }
        &::after {
            content: 'No longer available'
        }
    }
    .none {
        display: none;
        color: $na-color;
        span {
            color: $na-color;
        }
        &::after {
            content: 'Not available'
        }
    }
    .noposter {
        color: $na-color;
        span {
            color: $na-color;
        }
        &::after {
            content: 'Poster not yet available'
        }
    }
    .poster {
        border-top: solid 1px $grey;
        margin-top: 15px;
        padding-top: 15px;
        @media screen and (min-width:1000px){
            display: flex;
            gap: 30px;
        }
        img {
            max-width: 100%;
        }
        .id {
            float: right;
            margin-left: 10px;
        }
        
        .main {
            flex-grow: 1;
        }
        .preview{
            width: 300px;
            max-width: 50%;
            flex-shrink: 0;
            margin-top: 5px;
            img {
                max-height: 200px;
                max-width: 100%;
            }
            a {
                display: block;
                text-decoration: none;
                color: $text-color;
                span:nth-child(2) {
                    text-decoration: underline dotted;
                    color: $link-color;
                }
            }
        }
        @media screen and (max-width: $mobile){
            display: block;
            .preview {
                margin-top: 10px;
                max-width: 100%;
                width: 100%;
            }
        }
    }
    .interactive {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        white-space: nowrap;
        // margin-top: 10px;
        div {
            flex-grow: 1;
            padding-left: 35px;
            margin-top: 10px;
        }
        [class^="icon-"], [class*=" icon-"]{
            font-size: 2em;
            float: left;
            margin-right: 5px;
            width: 35px;
            margin-left: -35px;
        }
        .label {
            display: block;
            font-weight: bold;
        }
        a {
            text-decoration: none;
            color: $text-color;
            &::after {
                color: $link-color;
                text-decoration: underline dotted;
            }
        }
        .video a::after{
            content: 'See a video presentation of the poster';
        }
        .comment a::after{
            content: 'Leave comments for the author';
        }
        .discussion a::after{
            content: 'Participate in the virtual discussion';
        }    
        @media screen and (max-width: $mobile) {
            .video, .comment, .discussion {
                .label {
                    display: none;
                }
                &.none::after {
                    content: '';
                }
                a::after {
                    content: '';
                }
            }
        }
        @media screen and (min-width: $desktop){
            .mobiletime {
                display: none;
            }
        }    
    }
}

.singleposter {
    .preview {
        max-width: 100%;
        margin-top: 10px;
        img {max-width: 100%;}
    }
}

table.table {
    border-collapse: collapse;
    thead {
        a {
            text-decoration: none;
            color: $blue;
            &.sort-asc::after {
                content: ' \25bc';
            }
            &.sort-desc::after {
                content: ' \25b2';
            }
        }
    }
    tbody {
        th {
            text-align: left;
        }
        th, td {
            border-top: solid 1px $grey;
            padding: 2px;
        }
    }
}

.alert-success{
    border: solid 1px green;
    background: lightgreen;
    padding: 10px;
}
.adminOnly{
    font-style: italic;
    text-decoration: underline dashed orange;
}
