nav {
    background: $accent1;
    z-index: 99;
    position: sticky;
    top: 0px;
    padding: 0 10px;
    border-top: solid 1px $accent1;
    box-shadow: 0px 6px 12px -6px rgba(0,0,0,0.2);
    > div {
        max-width: 1400px;
        margin: 0px auto;
    }
    li span,
    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 9px 1.1vw;
        height: 41px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
        }
    }
    .header {
        color: white;
        font-size: 1.2em;
    }
    
    @media screen and (max-width: $mobile){
        label { 
            display: block;
            height: 41px;
            padding-top: 18px;
        }
        $hamburgerSize: 20px;
        nav {
            overflow: hidden;
        }
        #overlay-button {
            z-index: 5;
            cursor: pointer;
            user-select: none;
            color: white;
            span.text {
                display: block;
                margin-left: 30px;
                margin-top: -10px;
                margin-bottom: 15px;
            }
            span.hamburger {
                height: floor($hamburgerSize / 9);
                width: $hamburgerSize;
                border-radius: 2px;
                background-color: white;
                position: relative;
                display: block;
                transition: all .2s ease-in-out;
                &:before {
                  top: -($hamburgerSize / 3.5);
                  visibility: visible;
                  display: block;
                }
                &:after {
                  top: ($hamburgerSize / 3.5);
                }
                &:before, &:after {
                    height: floor($hamburgerSize / 9);
                    width: $hamburgerSize;
                    border-radius: 2px;
                    background-color: white;
                    position: absolute;
                    content: "";
                    transition: all .2s ease-in-out;
                }
            }
        }
          
        input[type=checkbox] {
            display: none;
        }
          
        input[type=checkbox]:checked ~ ul {
            display: block;
        }
          
        input[type=checkbox]:checked ~ #overlay-button {
            &:hover span, span{
              background: transparent;
            }
            span {
                &:before {
                    transform: rotate(45deg) translate(($hamburgerSize / 5), ($hamburgerSize / 5));
                    opacity: 1;
                }
                &:after {
                    transform: rotate(-45deg) translate(($hamburgerSize / 5), -($hamburgerSize / 5));
                }
            }
        }
        div > ul {
            display: none;
            padding: 10px 10px 25px;
            > li {
                border-top: solid 1px $grey;
                &.last {
                    display:none;
                }
            }
        }
        li {
            color: white;
            &.current_ancestor,
            &.current {
                > span,
                > a {
                    border-color: $accent3;
                }
            }
            ul {
                display: none;
            }
            &:hover {
                > a, >span {
                    color: $accent2;
                }
            }
            
        }
    }
    @media screen and (min-width: $desktop){
        height: 42px;
        #overlay-button, #overlay-input {
            display: none;
        }
        div > ul {
            // border-top: solid 1px $accent2;
            > li.last {
                span::after {
                    content: '\00a0';
                }
            }
            
            > li:not(.last) {
                float: left;
                ul.menu_level_1 {
                    position: absolute;
                    transition-property: opacity,visibility;
                    transition-duration: .25s,0s;
                    transition-delay: 0s,.5s;
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                    margin-top: -3px;
                    li {
                        &.current_ancestor,
                        &.current {
                            > span, > a {
                                border-color: $accent3;
                                font-weight: bold;
                            }
                        }
                        
                        float: none;
                        position: relative;
                        background: mix($accent1, $background, 5%);
                        &.first {
                            border-top: solid 3px $accent3;
                        }
                        ul {
                            position: absolute;
                            left: 100%;
                            top: 0;
                            border-left: solid 3px transparent;
                            margin-top: -3px;
                            transition-property: opacity,visibility;
                            transition-duration: .25s,0s;
                            transition-delay: 0s,.5s;
                            opacity: 0;
                            visibility: hidden;
                            display: none;
                            li {
                                white-space: nowrap;
                                &.first {
                                    border-left:solid 3px $accent3;
                                    // border-top: solid 3px $accent3;
                                    margin-left: -3px;
                                }
                            }
                            &.menu_level_2 {
                                > li:not(.sub) {
                                    white-space: initial;
                                    > a, > span {
                                        height: auto;
                                        min-width: 250px;
                                    }
                                }
                            }
                        }
                        &:hover > ul{
                            visibility: visible;
                            display: block;
                            display: block;
                            transition-property: visibility,opacity;
                            transition-duration: 0s,.25s;
                            transition-delay: 0s,0s;
                            opacity: 1;
                        }
                        span, a {
                            border-color: $accent2;
                            color: $accent3;
                        }
                        &:hover {
                            background: $accent2;
                            > span, > a {
                                border-color: $accent3;
                                color: white;
                            }
                        }

                    }
                }
                span,
                a {
                    color: white;
                    border-bottom: solid 3px $accent1;
                    transition: border-color .2s ease;
                    font-size: 14px;

                }
                &.current_ancestor,
                &.current {
                    > span, > a {
                        border-color: $accent3;
                        font-weight: bold;
                    }
                }
                &:hover {
                    background: $accent2;
                    > a, >span {
                        color: white;
                        border-color: $accent3;
                    }
                    ul {
                        visibility: visible;
                        display: block;
                        transition-property: visibility,opacity;
                        transition-duration: 0s,.25s;
                        transition-delay: 0s,0s;
                        opacity: 1;
                    }
                }
                
            }
        }
    }
}