#menu {
    background: $accent1;
    // overflow: auto;
    z-index: 99;
    position: sticky;
    top: 0px;
    padding: 0 10px;
    > div {
        max-width: 1400px;
        margin: 0px auto;
    }
    li span,
    a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 9px 1.1vw;
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
        }
    }
    .header {
        color: white;
        font-size: 1.2em;
    }
    
    @media screen and (max-width: $mobile){
        label { 
            display: block;
            height: 41px;
            padding-top: 18px;
        }
        $hamburgerSize: 20px;
        #menu {
            overflow: hidden;
        }
        #overlay-button {
            z-index: 5;
            cursor: pointer;
            user-select: none;
            color: white;
            span.text {
                display: block;
                margin-left: 30px;
                margin-top: -10px;
                margin-bottom: 15px;
            }
            span.hamburger {
                height: floor($hamburgerSize / 9);
                width: $hamburgerSize;
                border-radius: 2px;
                background-color: white;
                position: relative;
                display: block;
                transition: all .2s ease-in-out;
                &:before {
                  top: -($hamburgerSize / 3.5);
                  visibility: visible;
                }
                &:after {
                  top: ($hamburgerSize / 3.5);
                }
                &:before, &:after {
                    height: floor($hamburgerSize / 9);
                    width: $hamburgerSize;
                    border-radius: 2px;
                    background-color: white;
                    position: absolute;
                    content: "";
                    transition: all .2s ease-in-out;
                }
            }
        }
          
        input[type=checkbox] {
            display: none;
        }
          
        input[type=checkbox]:checked ~ ul {
            display: block;
        }
          
        input[type=checkbox]:checked ~ #overlay-button {
            &:hover span, span{
              background: transparent;
            }
            span {
                &:before {
                    transform: rotate(45deg) translate(($hamburgerSize / 5), ($hamburgerSize / 5));
                    opacity: 1;
                }
                &:after {
                    transform: rotate(-45deg) translate(($hamburgerSize / 5), -($hamburgerSize / 5));
                }
            }
        }
        div > ul {
            display: none;
            padding: 10px 10px 25px;
            > li {
                border-top: solid 1px $grey;
            }
        }
        li {
            color: white;
            &.current_ancestor,
            &.current {
                > span,
                > a {
                    color: $accent3;
                }
            }
            ul {
                display: none;
            }
        }
    }
    @media screen and (min-width: $desktop){
        #overlay-button, #overlay-input {
            display: none;
        }
        ul {
            li {
                float: left;
                &.last {
                    float: none;
                    span::after {
                        content: '\00a0';
                    }
                }
                ul {
                    position: absolute;
                    transition-property: opacity,visibility;
                    transition-duration: .25s,0s;
                    transition-delay: 0s,.5s;
                    opacity: 0;
                    visibility: hidden;
                    background: $accent1;
                    li {
                        float: none;
                        position: relative;
                        ul {
                            position: absolute;
                            left: 100%;
                            top: 0;
                            display: none;
                            li {
                                white-space: nowrap;
                            }
                        }
                        &:hover ul{
                            display: block;
                        }
                    }
                }
                span,
                a {
                    color: white;
                    border-bottom: solid 3px $accent2;
                    transition: border-color .2s ease;
                    text-transform: uppercase;
                    font-size: 14px;

                }
                &.current_ancestor,
                &.current {
                    > span, > a {
                        border-color: $accent3;
                        color: $accent3;
                    }
                }
                &:hover {
                    > a {
                        border-color: $accent3;
                    }
                    ul {
                        visibility: visible;
                        transition-property: visibility,opacity;
                        transition-duration: 0s,.25s;
                        transition-delay: 0s,0s;
                        opacity: 1;
                    }
                }
                
            }
        }
    }
}