$link-color: #1a75ae;
$text-color: #333;
$line-color: #e3e3e3;
$na-color: #999;
$blue: #093564;
$darkblue: #062240;
$accentcolor: #fceb2e;

$mobile: 799px;
$desktop: $mobile + 1;

* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: $text-color;
}

h1 {
    font-size: 32px;
}


h2 {
    font-size: 20px;
}

h3 {
    margin-top: 0px;
    font-size: 16px;
}

a {
    color: $link-color;
    text-decoration: underline dotted;
}

.clear {
    clear: both;
}

@import '_menu.scss';
@import '_blocks.scss';
@import '_main.scss';
@import '_form.scss';
@import '_pages.scss';