$teal: #005c6d;
$blue: #00a7d9;

$midblue: #007dbb;
$darkblue: #1a3668;
$brightred: #ea1d2d;
$deepred: #c22033;
$brightgreen: #2d9a47;
$darkgreen: #48773c;
$mustard: #d19f2a;


$accent1: $teal;
$accent2: $darkgreen;
$accent3: $brightgreen;

$link-color: $darkgreen;
$text-color: #333;
$grey: $darkgreen;
$lightGrey: #a5e7b9;
$na-color: #999;

$desktop: 800px;
$mobile: $desktop - 1;

* {
    box-sizing: border-box;
}
html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: $text-color;
}

h1 {
    font-size: 32px;
}


h2 {
    font-size: 20px;
    a {
        text-decoration: none;
    }
}

h3 {
    font-size: 16px;
}

a {
    color: $link-color;
    text-decoration: underline dotted;
    &:hover {
        color: $brightgreen;
    }
}

.clear {
    clear: both;
}

@import '_menu.scss';
@import '_blocks.scss';
@import '_main.scss';
@import '_form.scss';
@import '_pages.scss';