<form method="post" action="{{ path('imdis_abstract_delete', {'id': imdis_abstract.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ imdis_abstract.id) }}">
    <button class="btn"><span class="icon-bin"></span> Delete</button>
</form>
