{% extends 'base.html.twig' %}

{% set pagetitle = 'Abstracts' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imdis_abstract in imdis_abstracts %}
            <tr>
                <td>{{ imdis_abstract.imdisId }}</td>
                <td>{{ imdis_abstract.title }}</td>
                <td>
                    <button onclick="window.location.href='{{ path('imdis_abstract_edit', {'imdisId': imdis_abstract.imdisId}) }}'"><span class="icon-pencil"></span> edit</button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='{{ path('imdis_abstract_new') }}'"><span class="icon-plus"></span> Add abstract</button>
{% endblock %}
