<p>PDF IV will work predominantly with pre-recorded presentations. But we require presenters to be available during the time of their presentation to answer questions.</p>

<p>The time for oral presentations is 5 minutes (15 minutes for keynotes), followed by 5 minutes for Q&A. For harmonization purposes, we kindly ask that you use the <a href="{{ url('index') }}files/cover_slide_pdf_iv.pptx">cover slide template</a> for your presentation.</p>

<h2>Uploading presentation</h2>
<p>After the session both the video recording and a PDF file of your slides will be uploaded on the PDF IV website.</p>
<p>Once you have received your letter of acceptance (30 July), we kindly ask you to send in your video and presentation slides using wetransfer to *email@address* before 20 August 2021, 23:59 UTC. In order for us to easily identify your presentation, please follow this pattern for file names: PDFIV_oral_<number>. You can find instructions on making a video <a href="{{ path('help', {'help': 'video'}) }}">here</a>.</p>