<p>IMDIS 2021 will work with pre-recorded presentations. The time for a presentation is 5 minutes (15 minutes for keynotes), followed by 3 minutes for Q&amp;A. You can find instructions on making a video <a href="{{ path('help', {'help': 'video'}) }}">here</a>.</p>

<p>After the session both the recorded video and a pdf with slides (which can include more slides than presented in the 5 minutes) will be made available through the IMDIS website.</p>

<p>Please send your video and slides {{imdis.presentation_submission|raw}}.</p>