<p>Regular presentations at IMDIS 2021 are 8 minutes including questions, we recommend to limit the talk to 5 or 6 minutes to allow for a few questions. Keynotes are 16 minutes, here we advise to limit the talk to 12 minutes.</p>

<p>Slides have to be in pdf, we recommend 16:9 or 4:3 aspect ratio. Please do not use animations or slide transitions as these can stutter for viewers with lower bandwidth. If you really need a video in your presentation please contact the organizers. Given the short duration of the presentations we do not recommend including video's, these would be more fitting for the longer presentation (see below).</p>

<p>Slides have to be sent to the organizers before 6 April 12:00 UTC (TODO: confirm). The slides for a block will be combined into a single presentation file allowing for a smooth progress of the conference. The presenter will get remote control and can changes slides using the arrow keys on the keyboard.</p>

<p>Presenters can also deliver a longer video presentation. When they provide the link to their video before the conference the link will become available shortly after the session ends.</p>