<h2>Poster</h2>
<p>Please follow the following recommendations for your poster:</p>
<ul>
<li>One simple page.</li>
<li>A2 with font 12pt or A3 with font 9pt. These formats allow for the same amount of information as a regular A0 poster, with the advantage of a reduced file size and no effect on readability.</li>
<li>Portrait or Landscape - your choice !</li>
<li>Feel free to customize as you wish. However, we recommend including graphics and colours.</li>
<li>Submit as a PDF file.</li>
</ul>

<h2>Video pitch</h2>
<p>We also recommend poster presenters to make a video pitch for their poster, with a maximum of 1 minute. The presentation here can have a few slides. For harmonization purposes, we kindly ask that you use the cover slide template (<a href="{{ url('index') }}files/cover_slide_pdf_iv.pptx">pptx</a> / <a href="{{ url('index') }}files/cover_slide_pdf_iv.jpg">jpg</a>) for your presentation. You can find instructions <a href="{{ path('help', {'help': 'video'}) }}">here</a>.</p>

<h2>Uploading presentation</h2>
<p>Once you have received your letter of acceptance (30 July), we kindly ask you to send in your video, possible slides, and your poster (PDF file) using wetransfer to info@polar-data-forum.org before 20 August 2021, 23:59 UTC. In order for us to easily identify your poster, please follow this pattern for file names: PDFIV_poster_&lt;number&gt;.
</p>