<h2>Poster</h2>
<ul>
<li>We recommend to keep the poster single page, just like on an on-site conference.</li>
<li>The recomended size is A2 (~42 x 60 cm) size with font size 12 pt or A3 with font size 9pt. This allows for the same ammount of information as a (regular) A0 poster with font size 24 pt, while reducing file size. As the poster will be dislayed on computer screens there is no effect on readability despite smaller poster and font size.</li>
<li>You are free to choose between a landscape, portrait or square poster.</li>
<li>We recommend to include graphics and color in your poster, you are free to choose your own fonts and other styling.</li>
<li>Posters have to be submitted as PDF file, please use web optimized settings if the software you use to create the pdf gives you the choice.</li>
</ul>

<h2>Video pitch</h2>
<p>Poster presenters are also recommended to make a video pitch of their poster, with a maximum of 2 minutes, the presentation here can have a few slides. You can find instructions <a href="{{ path('help', {'help': 'video'}) }}">here</a>.</p>

<h2>Uploading presentation</h2>
<p>Please send your poster and video {{imdis.presentation_submission|raw}}</p>