<p>Posters have to be submitted as PDF file. We recommend the posters to be single page, just like on an on-site conference.</p>

<p>Poster presenters are also recommended to make a video pitch of their poster, with a maximum of 2 minutes. You can find instructions <a href="{{ path('help', {'help': 'video'}) }}">here</a>.</p>
<p>Please send your poster and video {{imdis.presentation_submission|raw}}.</p>