<p>Posters have to be delivered as pdf. We recommend the posters to be single page, just like on a physical conference.</p>

<p>Poster presenters can send a video link to be added to their poster, these links will be made available immediately for all registered participants.</p>