<p>Posters have to be delivered as pdf. We recommend the posters to be single page, just like on a physical conference.</p>

<p>Poster presenters are also recommended to make a video pitch of their poster of maximum 2 minutes. You can find instructions <a href="{{ path('help', {'help': 'video'}) }}">here</a>.</p>
<p>Please send your poster and video {{imdis.presentation_submission}}.</p>