<h2>Requirements</h2>
<ul>
<li>The recommend video length depends on the type of presentation:
<ul>
    <li>Oral presentation: between 10 and 15 minutes</li>
    <li>Keynote: between 20 and 30 minutes</li>
    <li>Poster presentation: ~5 minutes</li>
</ul>
<li>We prefer you to be visible in the video.</li>
<li>Please upload the video to a video website (like Youtube or Vimeo) and send us the link (can be a hidden link) before {{deadline}}.</li>
</ul>

<div class="cols">
<div class="create">
    <h2>Creating a video</h2>
    <p>We have collected a couple of links to help you to make the recording.</p>
    <h3>Windows &amp; Powerpoint</h3>
    <p>For Windows users with a recent version of Powerpoint we recommend creating the recording using Powerpoint.</p>
    <p><span class="icon-video-camera"></span> <a href="https://youtu.be/D8JV3w4TOVw">Video Tutorial</a></p>

    <h3>MacOS &amp; Keynotote</h3>
    <p>For Mac users with Keynote version 10.1 or higher the easiest way is using Keynote.</p>
    <p><span class="icon-video-camera"></span> <a href="https://youtu.be/UmHbM33ogL8">Video Tutorial</a></p>
    <h3>Cross platform</h3>
    <p>For all other cases we suggest OBS Studio. This is open source software able of capturing screen, video and sound and combining them into a single video file.</p>
    <p><span class="icon-download3"></span> <a href="https://obsproject.com/">Download</a> / <span class="icon-file-text"></span> <a href="https://obsproject.com/wiki/OBS-Studio-Quickstart">Quick start</a> / <span class="icon-video-camera"></span> <a href="https://youtu.be/uL8BwstqiqE">Video Tutorial</a></p>
</div>

<div class="upload">
<h2>Uploading your video</h2>
<p>Please upload the video to a video hosting platform and send the link before {{deadline}}.</p>
<p>The list of supported platforms is not complete. As long as the video can be watched online using a direct link, and without logging in, any video hosting service is can be used.</p>
<h3>Youtube</h3>
<p><a href="https://support.google.com/youtube/answer/161805?hl=en&ref_topic=9267674">How to create a Youtube account</a> / <a href="https://support.google.com/youtube/answer/57407?co=GENIE.Platform%3DDesktop&hl=en">How to upload videos</a></p>

<h3>Vimeo</h3>
<a href="https://vimeo.com/join">Create an account (the free plan should be sufficient)</a> / <a href="https://vimeo.zendesk.com/hc/en-us/articles/229838988-Preparing-to-upload">How to upload videos</a></p>
</div>
</div>