<h2>Requirements</h2>
<ul>
<li>The maximum video length depends on the type of presentation:
<ul>
    <li>Keynote presentation: 15 minutes</li>
    <li>Oral presentation: 5 minutes</li>
    <li>Poster pitch presentation: 1 minutes</li>
</ul>
<li>We prefer you to be visible in the video.</li>
<li>Record your video in the highest possible resolution with a maximum file size of 500 MB</li>
<li>Please use the number of your presentation/poster to label your file</li>
<li>For harmonization purposes, we kindly ask that you use the cover slide template (insert file) for your presentation.</li>
<li>Please send us your recording in .mp4 format.</li>
</ul>

<h2>Creating a video</h2>
<p>We have collected a couple of links to help you to make the recording.</p>
<h3>Windows &amp; PowerPoint</h3>
<p>For Windows users with a recent version of PowerPoint we recommend creating the recording using PowerPoint.</p>
<p><span class="icon-video-camera"></span> <a href="https://youtu.be/D8JV3w4TOVw">Video Tutorial</a></p>

<h3>MacOS &amp; Keynote</h3>
<p>For Mac users with Keynote version 10.1 or higher the easiest way is using Keynote.</p>
<p><span class="icon-video-camera"></span> <a href="https://youtu.be/UmHbM33ogL8">Video Tutorial</a></p>
<h3>Cross platform</h3>
<p>For all other cases we suggest OBS Studio. This is open source software able of capturing screen, video and sound and combining them into a single video file.</p>
<p><span class="icon-download3"></span> <a href="https://obsproject.com/">Download</a> / <span class="icon-file-text"></span> <a href="https://obsproject.com/wiki/OBS-Studio-Quickstart">Quick start</a> / <span class="icon-video-camera"></span> <a href="https://youtu.be/uL8BwstqiqE">Video Tutorial</a></p>

<h2>Besides the technical aspects described above, please consider the following</h2>
<ul>
<li>Make sure your camera is stable.</li>
<li>Avoid using copyright protected elements.</li>
<li>Take your time. Make sure you speak clearly, with intonation and engagement.</li>
<li>Make eye contact. Win the staring contest with your camera.</li>
<li>Make sure your presentation stays visible and is not obstructed by your headshot.</li>
<li>Avoid surrounding noises and echos. We recommend using a microphone.</li>
<li>Find natural light and try to avoid backlight. We want to be able to see you.</li>
<li>Smile, you’re on camera!</li>
</ul>