<h2>Requirements</h2>
<ul>
<li>The recommend video length depends on the type of presentation:
<ul>
    <li>Oral presentation: between 10 and 15 minutes</li>
    <li>Keynote: between 20 and 30 minutes</li>
    <li>Poster presentation: ~5 minutes</li>
</ul>
<li>We prefer you to be visible in the video.</li>
<li>Please upload the video to a video website (like Youtube or Vimeo) and send us the link (can be a hidden link) before 6 April 12:00 UTC.</li>
</ul>
<h2>Creating a video</h2>
<p>We have collected a couple of links to help you to make the recording.</p>
<h3>Cross platform</h3>
<p>OBS Studio (open source) <span class="icon-download3"></span> <a href="https://obsproject.com/">Download</a> / <span class="icon-file-text"></span> <a href="https://obsproject.com/wiki/OBS-Studio-Quickstart">Quick start</a> / <span class="icon-video-camera"></span> <a href="https://youtu.be/uL8BwstqiqE">Quick start</a></p>
<h3>Windows</h3>
<p><span class="icon-video-camera"></span> <a href="https://youtu.be/D8JV3w4TOVw">Using Powerpoint</a></p>
<h3>Mac</h3>
<p><span class="icon-video-camera"></span> <a href="https://youtu.be/UmHbM33ogL8">Using Keynote (>= 10.1)</a></p>

<h2>Uploading your video</h2>
<p>The list of supported platforms is not complete. As long as the video can be watched online using a direct link, and without logging in, any video hosting service is fine.</p>
<h3>Youtube</h3>
<p><a href="https://support.google.com/youtube/answer/161805?hl=en&ref_topic=9267674">How to create a Youtube account</a> / <a href="https://support.google.com/youtube/answer/57407?co=GENIE.Platform%3DDesktop&hl=en">How to upload videos</a></p>

<h3>Vimeo</h3>
<a href="https://vimeo.com/join">Create an account (the free plan should be sufficient)</a> / <a href="https://vimeo.zendesk.com/hc/en-us/articles/229838988-Preparing-to-upload">How to upload videos</a></p>