<p>The conference will be on Zoom. We recommend to use the desktop client or mobile app, version 5.3.0 or higher.</p>

<p>To connect click the join session link in the program, this link is only available when logged in to the IMDIS 2021 website. Every session has its own Zoom link, so please select the right one.</p>

<p>By default microphone and camera are disabled for all participants during the oral presentations, chat is enabled.</p>

<h2>Poster sessions</h2>
<p>For the poster sessions we will be using Zoom breakout rooms. Each poster will have a breakout room, the name of the room will be the title of the poster. When using version 5.3.0 or higher of the desktop client or mobile app you can freely between the main room and breakout rooms. If you experience problems with moving yourself into a breakout room (or are on a version that doesn't support self assigning to breakout rooms) you can always ask the host (who will always be in the main room) for help.</p>