{% extends 'base.html.twig' %}

{% block body %}
    <div class="cols">
        <div class="side">{% block side %}{% endblock %}</div>
        <div class="main">{% block main %}{{ content }}{% endblock %}</div>
    </div>
{% endblock %}