<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <meta name="description" content="Polar Data & Science Week 2021 - september 2021 - online" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{status_code ~ ' - ' ~ status_text}}</title>
    <style>
        body {
            background-color: #fff;
            font: 16px/1.5 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin: 0;
            text-color: #333;
        }
.container { background: white;margin: 10vh auto; width: 90vw; max-width: 600px; padding: 0px;border-bottom:solid 5px #005c6d}
.top {
    background: #005c6d;
    padding: 5px;
    font-size: 28px;
    color: white;
}
.main {
    padding: 20px;
}
h1 { color: #005c6d; font-size: 24px; }
h2 { font-size: 18px; }
a{ color: #48773c}</style>
</head>
<body>
<div class="container">
<div class="top">Polar Data & Science Week 2021<br/>September 2021 - online</div>
<div class="main"><h1>{{status_code ~ ' - ' ~ status_text}}</h1>
{% block message %}
{% if status_code|slice(0,1) == 4 %}
    We can't show you this page, however, the server is working like it should.<br/>Check for any URL misspelling or <a href="{{ path('index') }}">return to the homepage</a>
{% elseif status_code|slice(0,1) == 5 %}
    The server isn't feeling well, please try again later.<br/>If the downtime lasts more than a few minutes and you need urgent information please contact us at <a href="mailto:imdis@seadatanet.org">imdis@seadatanet.org</a>
{% endif %}
{% endblock %}
</div>
</div>
</body>
</html>

