{% extends 'base.html.twig' %}

{% set pagetitle = 'Registration' %}

{% block side %}
<div class="sticky"><div>
<ul>
<li><a href="{{ path('registration_edit') }}">Edit details</a></li>
<li>To change your password use <a href="{{path('app_forgot_password_request')}}">reset password</a>.</li>
</ul>
</div></div>
{% endblock %}
{% block main %}

{% include 'registration/details.html.twig' %}

{% endblock %}